<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style type="text/css">
      body{
        margin:50px;
        margin-top: 20px;
      }
     
     

    </style>
    <title>About User</title>
  </head>
  <body>

  	<!-- Teacher options -->


  <form class="form-group">
  <label class="my-1 mr-2 case">On average how many hours perday do you spend on study/educational activities</label><br><br>
  
 
 <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option value="0">Not at all</option>
    <option selected="selected" value="0-2">0-2</option>
    <option value="2-4">2-4</option>
    <option value="4++">4 and more</option>
  </select>
<br><br>

<label class="my-1 mr-2 case">On average how many hours do you spend on youtube/social media/dramas/movies</label><br><br>
  
 
 <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option value="0">Not at all</option>
    <option value="0-2" selected>0-2</option>
    <option value="2-4">2-4</option>
    <option value="4-6">4 and more</option>
    <option value="Almost entire day">Almost entire day</option>
  </select>

<br><br>

<label class="my-1 mr-2 case">Do you wear glasses</label><br><br>
  
 
 <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option value="0">No</option>
    <option value="1" selected>Yes</option>
  </select>


<br><br>
<br><br>
<button type="submit" class="btn btn-outline-success btn-md ">Save</button>

</form>



  	

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>