<!DOCTYPE html>
<html lang="en">

<head>
    <?php include('include/head.html'); ?>
</head>

<body>

    <?php include('include/navbar.html'); ?>
    <?php
    $batches = [];
    $batches['F16SW'] = 0;
    $batches['17SW'] = 0;
    $batches['18SW'] = 0;
    $batches['19SW'] = 0;
        foreach ($this->data['batches'] as $batch) {
            switch ($batch['batch']) {
                case 'F16SW':
                    $batches['F16SW'] += $batch['count'];
                break;
                case '17SW':
                    $batches['17SW'] += $batch['count'];
                break;
                case '18SW':
                    $batches['18SW'] += $batch['count'];
                break;
                case '19SW':
                    $batches['19SW'] += $batch['count'];
                break;
            }
        }
        
    ?>
    <!--Main Layout-->
    <main>

        <div class="container my-4">
           
            <div class="row">
                <canvas id="barChart"></canvas>
            </div>
            
            <div class="card p-5">
                <table class="table" id="studentsTable">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Sport</th>
                            <th scope="col">Profile</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php
                    if (is_array($students)) {
                        $sr = 0;
                        foreach ($students as $student) : ?>
                        <tr>
                            <td><?= ++$sr; ?></td>
                            <td>
                                <img src="../app/models/images/<?php echo ($student['image'] != null ? $student['image'] : 'avatar.png') ;?>" class="avatar rounded-circle"
                                alt="avatar" style="width: 50px; height: 50px;"></td>
                            <td><?= $student['first_name'] . ' ' .  $student['last_name'] ?></td>
                            <td class="text-center"><?= $student['sport'] ?></td>
                            <td class="text-center">
                                <a href="profile?id=<?=$student['id']?>" class="btn btn-sm btn-cyan">Profile</a></td>
                        </tr>
                        <?php endforeach;
                        } ?>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <?php include('include/scripts.html'); ?>
</body>


<script type="text/javascript">
//bar
var ctxB = document.getElementById("barChart").getContext('2d');
var myBarChart = new Chart(ctxB, {
type: 'bar',
data: {
labels: ["F16SW", "17SW", "18SW", "19SW"],
datasets: [{
label: 'No of Players From',
data: [<?= $batches['F16SW']?>, <?= $batches['17SW']?>, <?= $batches['18SW']?>, <?= $batches['18SW']?>],
backgroundColor: [
'rgba(255, 99, 132, 0.2)',
'rgba(54, 162, 235, 0.2)',
'rgba(255, 206, 86, 0.2)',
'rgba(75, 192, 192, 0.2)',
'rgba(153, 102, 255, 0.2)',
'rgba(255, 159, 64, 0.2)'
],
borderColor: [
'rgba(255,99,132,1)',
'rgba(54, 162, 235, 1)',
'rgba(255, 206, 86, 1)',
'rgba(75, 192, 192, 1)',
'rgba(153, 102, 255, 1)',
'rgba(255, 159, 64, 1)'
],
borderWidth: 1
}]
},
options: {
scales: {
yAxes: [{
ticks: {
beginAtZero: true
}
}]
}
}
});
</script>

</html>