<!DOCTYPE html>
<html lang="en">

<head>
  <?php include('include/head.html'); ?>
</head>

<body>

  <?php include('include/navbar.html'); ?>

  <!--Main Layout-->
  <main>

    <div class="container my-4 ">

      <div class="row">

        <?php if (is_array($langs)) {
          foreach ($langs as $lang) : ?>

        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"><?=$lang['name']?>
                  </div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800"><?=$lang['total_students']?></div>
                </div>
                <div class="col">
                  <?=$lang['logo'];?>
                </div>
              </div>
            </div>
          </div>
        </div>
        <?php endforeach; 
        }?>
      </div>
  </main>

  <?php include('include/scripts.html'); ?>
</body>

</html>