<!DOCTYPE html>
<html lang="en">

<head>
 <?php include('include/head.html'); ?>
</head>

<body>

  <?php include('include/navbar.html'); ?>

  <!--Main Layout-->
  <main>

    <div class="container">

      <!--Section: Blog v.4-->
      <section class="section mt-5 pb-3 wow fadeIn">
        
        <!--Grid row-->
        <div class="row justify-content-center">
          <div class="col-md-4">
            <!-- Card -->
            <div class="card card-cascade wider reverse">
              <!--Post data-->
              <div class="card-body card-body-cascade text-center">
                <?php 
                if(isset($_POST['login'])):
                
                 echo $alert;
              
                endif;?>
                <form class="user" action="login" method="POST">
                  <div class="form-group">
                    <input type="email" class="form-control form-control-user" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user" name="password" id="password" placeholder="Password">
                  </div>
                  <button class="btn btn-primary btn-user btn-block" name="login" id="login"> 
                    Login
                  </button>
                </form>
                <hr>
              </div>
              <!--Post data-->
            </div>
          </div>
        </div>
        <!--Grid row-->

      </section>
      <!--Section: Blog v.4-->


    </div>

  </main>
  <!--Main Layout-->

  <!--  SCRIPTS  -->
  <?php include('include/scripts.html'); ?>

  <script>
    new WOW().init();

  </script>
</body>

</html>
