<!DOCTYPE html>
<html lang="en">

<head>
  <?php include('include/head.html'); ?>
  <style>
    html,
    body {
      height: 100%;
    }
  </style>
</head>

<body>

  <?php include('include/navbar.html'); ?>

  <!--Main Layout-->
  <main class="vh-100">
    <div class="main-wrapper vh-100">
      <div class="container-fluid vh-100">
        <div class="row vh-100">

          <div class="col-2" style="background: #5c6775;">
            <?php include('include/sidebar.html'); ?>
          </div>

          <div class="col">
            <div class="container-fluid my-4 ">
              <div class="row">
                <?php if (is_array($langs)) {
                  foreach ($langs as $lang) : ?>
<!-- Language Cards -->
                <div class="col-xl-3 col-md-6 mb-4">
                  <div class="card shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters justify-content-center">
                        <div class="col-auto" style="width: 40%;">
                          <?=$lang['logo'];?>
                        </div>
                      </div>
                      <hr>
                      <div class="text-xs font-weight-bold text-center text-primary text-uppercase mb-1"><?=$lang['name']?></div>
                      <hr>
                      <div class="col mr-2">
                        <a href="programming?lang=<?=$lang['name']?>&value=1" class="btn btn-primary" style="width: 100%;">
                          <?php if($lang['proficiency'] == 1): ?> &#10003;Beginner <?php else: ?> Beginner <?php endif; ?></a>
                        <a href="programming?lang=<?=$lang['name']?>&value=2" class="btn btn-secondary" style="width: 100%;">
                          <?php if($lang['proficiency'] == 2): ?> &#10003;Journeyman <?php else: ?> Journeyman <?php endif; ?></a>
                        <a href="programming?lang=<?=$lang['name']?>&value=3" class="btn btn-success" style="width: 100%;">
                          <?php if($lang['proficiency'] == 3): ?> &#10003;Expert <?php else: ?> Expert <?php endif; ?></a>
                      </div>
                    </div>
                  </div>
                </div>
                <?php endforeach; 
                }?>
              </div>
            </div>

          </div>
        </div>
      </div>
  </main>

  <?php include('include/scripts.html'); ?>
</body>

</html>