<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style type="text/css">
      body{
        margin:50px;
        margin-top: 20px;
      }
      .case{
        text-transform: uppercase;
        letter-spacing: 0.2em;
      }

    </style>
    <title>Opinion</title>
  </head>
  <body>

  	<!-- Teacher options -->


  <form class="form-group">
  <label class="my-1 mr-2 ">Why i remain physically present yet meantally absent in class</label><br><br>
  
 
 <!-- <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option selected>Choose...</option>
    <option value="1">Along with lectures tell how students future will proceed and what oportunities they have</option>
    <option value="2">Presented the lesson by connecting it with the warm up activity</option>
    <option value="3">Must linked themself with organizaion's current challenges so students can learn in-demand technologies</option>
    <option value="4">I think they have enough burden already</option>
    <option value="5">Use enrichment activities for students to further understand the topic</option>

  </select> -->

<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
  <label class="form-check-label" for="exampleRadios1">
   Teachers favour only those who have high GPA in class
  </label>
</div>

<div class="form-check">
<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option1">
  <label class="form-check-label" for="exampleRadios2">
   Mobile phone addiction
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option1">
  <label class="form-check-label" for="exampleRadios3">
  I can better learn at home/coaching center
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option1">
  <label class="form-check-label" for="exampleRadios4">
   Lectures are not interactive and interesting at all
  </label>
</div>
<br><br>

<!-- Second question -->

<label class="my-1 mr-2 " for="inlineFormCustomSelectPref">Why i show hesitation/irritation when it comes to teachers evaluation</label><br><br>

<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option1">
  <label class="form-check-label" for="exampleRadios4">
  I have a fear of marks deduction
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option1">
  <label class="form-check-label" for="exampleRadios4">
   I believe they won't take survey respondents seriously
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option1">
  <label class="form-check-label" for="exampleRadios4">
   Negative responses often escalate teachers temper rather than bringing any improvement
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option1">
  <label class="form-check-label" for="exampleRadios4">
  When someone is honest about his opinion one must not feel hesitation
  </label>
</div>

<br><br>
<button type="submit" class="btn btn-outline-success btn-md">Save</button>

</form>



  	

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>