<!DOCTYPE html>
<html lang="en">

<head>
    <?php include('include/head.html'); ?>
</head>

<body>

    <?php include('include/navbar.html'); ?>

    <!--Main Layout-->
    <main>

        <div class="container my-4">
            <div class="card p-5">
                <table class="table" id="studentsTable">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Proficiency</th>
                            <th scope="col">Profile</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php
                    if (is_array($students)) {
                        $sr = 0;
                        foreach ($students as $student) : ?>
                        <tr>
                            <td><?= ++$sr; ?></td>
                            <td><?= $student['image'] ?></td>
                            <td><?= $student['first_name'] . ' ' .  $student['last_name'] ?></td>
                            <td class="text-center">
                                <?php 
                                if($student['proficiency'] == 1)
                                    echo '<h5><span class="badge badge-primary">Beginner</span></h5>';
                                else if ($student['proficiency'] == 2)
                                    echo '<h5><span class="badge badge-secondary">Journeyman</span></h5>';
                                else
                                    echo '<h5><span class="badge badge-success">Expert</span></h5>';
                                
                            ?>
                            </td>
                            <td class="text-center">
                                <a href="profile?id=<?=$student['id']?>" class="btn btn-sm btn-success ">Profile</a></td>
                        </tr>
                        <?php endforeach;
                        } ?>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <?php include('include/scripts.html'); ?>
</body>

</html>