<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style type="text/css">
      body{
        margin:50px;
        margin-top: 20px;
      }
      .case{
        text-transform: uppercase;
        letter-spacing: 0.2em;
      }
      .case_{
        text-transform: uppercase;

      }

    </style>
    <title>Interests</title>
  </head>
  <body>

  	<!-- Teacher options -->


  <form class="form-group">
  <label class="my-1 mr-2 case">I can serve myself in following sports</label><br><br>
  
 
 <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option selected>Choose Sport Among them...</option>
    <option value="1">Cricket</option>
    <option value="2">Football</option>
    <option value="3">Tennis</option>
    <option value="4">Table Tennis</option>
    <option value="5">Basketball</option>
  </select>
<br><br>
<label class="my-1 mr-2 case">Mark your level</label><br><br>

<div class="form-check">
  <input class="form-check-input " type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
  <label class="form-check-label case_" for="exampleRadios1">
   Healthy Beginner
  </label>
</div>

<div class="form-check">
<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option1">
  <label class="form-check-label case_" for="exampleRadios2">
   Intermediate
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option1">
  <label class="form-check-label case_" for="exampleRadios3">
  Advanced
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option1">
  <label class="form-check-label case_" for="exampleRadios4">
  Elite
  </label>
</div>
<br><br>

<!-- Second question -->

<label class="my-1 mr-2 case" for="inlineFormCustomSelectPref">Do you have communication, presentation and debating skills
</label><br><br>

<select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option value="4">No</option>
    <option value="5">Yes</option>
  </select>


<br><br>
<label class="my-1 mr-2 case" for="inlineFormCustomSelectPref">Will you happily contribute in social events at departmental or university level?

</label><br><br>

<select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option value="4">No</option>
    <option value="5">Yes</option>
  </select>

<br><br>
<label class="my-1 mr-2 case" for="inlineFormCustomSelectPref">Are are a member of Software Engineering Society

</label><br><br>

<select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option value="4">No</option>
    <option value="5">Yes</option>
  </select>

<br><br>
<br><br>
<button type="submit" class="btn btn-outline-success btn-md ">Save</button>

</form>



  	

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>