<!DOCTYPE html>
<html lang="en">

<head>
  <?php include('include/head.html'); ?>
  <style>
    html,
    body {
      height: 100%;
    }
  </style>
</head>

<body>

  <?php include('include/navbar.html'); ?>

  <!--Main Layout-->
  <main class="vh-100">
    <div class="main-wrapper vh-100">
      <div class="container-fluid vh-100">
        <div class="row vh-100">

          <div class="col-2" style="background: #282828;">
            <?php include('include/sidebar.html'); ?>
          </div>

          <div class="col" style="margin-top: 5%;">

            <div class="container bootstrap snippet">
              <form action="teachers" method="POST">
                <div class="form-group">
                  <div class="col-xs-6">
                    <label for="fav_teacher">
                      <h4>My Favourite Teacher</h4>
                    </label>
                    <select class="browser-default custom-select dropdown-ins" name="fav_teacher" id="fav_teacher">
                      <option value="0">Select Teacher</option>
                      <?php foreach($teachers as $teacher): ?>
                      <option value="<?= $teacher['id'] ?>" <?php if($teacher['ans'] != null) echo 'selected';?>>
                        <?= $teacher['name'] ?></option>
                      <?php endforeach ?>
                    </select>
                  </div>
                </div>
                <br>
                <div class="form-group">
                  <div class="col-xs-6">
                    <label>
                      <h4>What is so special about your favourite teacher</h4>
                    </label>
                    <div class="form-check">
                      <select class="browser-default custom-select dropdown-ins" name="q1" id="q1">
                        <option value="0">Select Answer</option>
                        <?php foreach($question_1 as $q1): ?>
                        <option value="<?= $q1['o_id'] ?>" <?php if($q1['selected'] != null) echo 'selected';?>><?= $q1['options'] ?></option>
                        <?php endforeach ?>
                      </select>
                    </div>
                  </div>
                </div>
                <br>
                <div class="form-group">
                  <div class="col-xs-6">
                    <label>
                      <h4>I think teachers needs to bring improvement in</h4>
                    </label>
                    <div class="form-check">
                      <select class="browser-default custom-select dropdown-ins" name="q2" id="q2">
                        <option value="0">Select Answer</option>
                        <?php foreach($question_2 as $q2): ?>
                        <option value="<?= $q2['o_id'] ?>" <?php if($q2['selected'] != null) echo 'selected';?>><?= $q2['options'] ?></option>
                        <?php endforeach ?>
                      </select>
                    </div>
                  </div>
                </div>
                <br>
                <div class="form-group">
                  <div class="col-xs-12">
                    <br>
                    <button class="btn btn-light-green" type="submit" name="submit"><i
                        class="glyphicon glyphicon-ok-sign"></i> Save</button>
                  </div>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
  </main>

  <?php include('include/scripts.html'); ?>
</body>

</html>