<!DOCTYPE html>
<html lang="en">

<head>
  <?php include('include/head.html'); ?>
  <style>
    html,
    body {
      height: 100%;
    }
  </style>
</head>

<body>

  <?php include('include/navbar.html'); ?>

  <!--Main Layout-->
  <main class="vh-100">
    <div class="main-wrapper vh-100">
      <div class="container-fluid vh-100">
        <div class="row vh-100">

          <div class="col-2" style="background: #282828;">
            <?php include('include/sidebar.html'); ?>
          </div>

          <div class="col" style="margin-top: 5%;">
            

            
          </div>
        </div>
      </div>
  </main>

  <?php include('include/scripts.html'); ?>
</body>

</html>